@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?pvm5gj');
	src:url('../fonts/icomoon/icomoon.eot?#iefixpvm5gj') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?pvm5gj') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?pvm5gj') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?pvm5gj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Icons created with icomoon.io/app */

.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 1em 0 2em;
	font-weight: 300;
}



#onepack {
	height:180px;
	width:270px;
	position:relative;
	left:2%;
	margin-bottom: 5%;
}

#fpack {
	height:250px;
	width:200px;
}

.products h3 {
	font-family: CoreMellow25ExtraLight;
	color:black;
}

.products p {
	font-family: CoreMellow25ExtraLight;
	color:black;
}

.products div{
	display:inline-block;
	margin:0;
	padding:10px;
	clear:none;
}

.products img {
	width:100px;
	height:50px;
}

.aboutspack {
	width:75%;
	font-family: CoreMellow25ExtraLight;
	font-weight: normal;
	font-style: normal;
	font-size:20px;
	/*float:right;*/
	position:relative;
	left:15%;
	color:black;
	top:-60px;
}

#spack_head {
	font-family: Ventana;
	font-weight: normal;
	font-style: normal;
	font-size:40px;
	color: #ef0088;
	position:relative;
	top:30px;
}


#mjinfo {
	width:75%;
	height:30%;
	position:relative;
	text-align:center;
	color:black;
	left:12%;
	top:-40px;
	font-family: CoreMellow25ExtraLight;
	font-size:20px;
	font-weight: bold;
}

.mj {
	text-align:center;
}


#marjul {
	width:55%;
	position:relative;
	top:-30px;
}

.employees{
	font-family: ImpalaScript;
	font-size:2em;
	color:#ef0088;
	background-color:#F7F7F7;
	/*margin-top: 10px;*/
	padding-top: 20px;
	text-align:center;
	width:100%;
	padding-bottom:100px;
}

.employees span {
	font-size:30px;
	position:relative;
	left:-90px;
	top:-40px;
	letter-spacing: 1px;
	/*display:none;*/
}

.employees h1 {
	letter-spacing: 2px;
}

figure {
	display:inline;
}

.homeinfo {
	font-family: CoreMellow25ExtraLight;
	font-size:1em;
	color:white;
	background-color:#ef0088;
	/*margin-top: 10px;*/
	padding-top: 20px;
	text-align:center;
	width:100%;
	padding-bottom:100px;
}

.homeinfo p {
	width:90%;
	position:relative;
	left:5%;
}

.homeinfo h1 {
	font-family: ImpalaScript;
	size:3em;
}

.employees img {
	width:200px;
	padding:10px;
	border-radius:100%;
	text-align: center;
	position:relative;
	left:5%;
/*	-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
	filter: grayscale(100%);*/
	border: 3px solid white;
}

#buybox {
	border: 3px solid white;
	padding:10px;
	width:15%;
	position:relative;
	left:43%;
	margin:0;
	cursor: pointer;
}

 div #buybox {
	text-align:center;
	left:10%;
	margin: 10%;
	width: 90%;
}

.employees img:hover{
	/*-webkit-filter: grayscale(100%);*/
}

#spacklogo {
	width:250px;
	height:150px;
	position:absolute;
	text-align:center;
	left:40%;
	margin-top:-45px;

}

#rephead {
	font-family: ImpalaScript;
	font-size:2.5em;
	color:#ef0088;
}

.colleges {
	padding-top:1%;
	background-color:#F0F0F0;
	text-align:center;
	padding-bottom:2%;
}

.reps {
	font-family: CoreMellow25ExtraLight;
	color:#ef0088;
	font-size:1.2em;
}

#email {
	color:#ef0088;
}

#email:hover {
	color:black;
}

.cont{
	cursor: pointer;
	color:black;
	display:inline-block;
	width:30%;
	font-family: CoreMellow25ExtraLight;
}

.cont h2 {
	font-size:1em;
}

.cont h3 {
	font-size:1em;
}

.cont:hover {
	color:#ef0088;
}

#spackvid {
	text-align:center;
	width:600px;
	height:338px;
	position:relative;
	left:17%;
	border:none;
}

header h1 {
 	font-family: Ventana;
	font-weight: normal;
	font-style: normal;
	size:20%;
	color: #ef0088;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.tabs nav ul li {
	
	/*border: 1px solid #ed145b;*/
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
}

.tabs nav li.tab-current {
	/*border: 1px solid #ed145b;*/
	/*box-shadow: inset 0 2px #ed145b;*/
	border-bottom: none;
	z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 1000px;
	background: #ef0088;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	font-family: ImpalaScript;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0.05em;
	color: #ef0088;
	display: block;
	font-size: 2.0em;
	line-height: 2.5;
	padding: 0 1.25em;
	white-space: nowrap;
}

.tabs nav a:hover {
	color: black;
}

.tabs nav li.tab-current a {
	color: black;
	border-bottom:1px solid #ef0088;
}


/* Icons */
.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}

.icon-food:before {
	content: "\e600";
}

.icon-lab:before {
	content: "\e601";
}

.icon-cup:before {
	content: "\e602";
}

.icon-truck:before {
	content: "\e603";
}

.icon-shop:before {
	content: "\e604";
}

/* Content */
.content section {
	font-size: 1.25em;
	padding-top: 3em;
	display: none;
	/*max-width: 1230px;*/
	margin: 0 auto;
}

#section-3 {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;

}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid black;
}

.content section.content-current {
	display: block;
}

.mediabox {
	float: left;
	width: 33%;
	padding: 0 25px;
}

.mediabox img {
	max-width: 100%;
	width: 90%;
	display: block;
	margin: 0 auto;
}

.mediabox h3 {
	/*margin: 0.75em 0 0.5em;*/
	font-family: CoreMellow25ExtraLight;
	color:black;
		text-align:center;

}

.mediabox p {
	padding: 0 0 1em 0;
	margin: 0;
	line-height: 1.3;
	font-family: CoreMellow25ExtraLight;
	color:black;
	text-align:center;

}

.info {
	padding-left:1%;
	margin-top:-20px;
	margin-bottom:5px;
	font-family: CoreMellow25ExtraLight;
	color:black;
	font-style: italic;
}

.contactus {
	padding-left:65%;
	color:black;
}

.wrap {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: CoreMellow25ExtraLight;
}

.modal p {
	font-size: 1.5em;
}

.modal input{
	border:2px black solid;
	font-size: 1em;
}

.modal button{
	text-align: center;
	background-color: black;
	color: #ef0088;
	width: 20%;
	height: 20%;
	border: none;
	font-size: 1.2em;
	font-family: CoreMellow25ExtraLight;
}

.open-modal {
  padding: 4% 8%;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  background: #00a7c8;
  color: white;
  border: 1px solid #00a7c8;
  cursor: pointer;
}

.open-modal:hover {
  border: 1px solid #00a7c8;
  color: #00a7c8;
  background: transparent;
}

.overlay {
  position: absolute;
  background: rgba(70, 70, 70, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height:100%;
  -webkit-transition: all 0.5s ease;
}

.modal {
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  background: white;
  padding: 15% 5%;
  color: black;
  text-align: center;
  opacity: 0;
  border:#ef0088 5px solid;
  -webkit-transition: all 0.5s ease;
  -webkit-transform: scale(0);
}

.button-modal {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  right: 4%;
  top: 5%;
  -webkit-transition: all 0.5s ease;
}

.cross {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 9999;
  cursor: pointer;
  left: 46%;
  top: 30%;
}
.cross:before, .cross:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  height: 15px;
  width: 2px;
  background:black;
  -webkit-transition: all 0.5s ease;
}
.cross:before {
  -webkit-transform: rotate(45deg);
}
.cross:after {
  -webkit-transform: rotate(-45deg);
}

.active {
  opacity: 1;
  z-index: 9997;
}

.active-modal {
  opacity: 1;
  z-index: 9998;
  -webkit-transform: scale(1);
}

.button-modal:hover {
  background: white;
}

.button-modal:hover .cross:after {
  background: black;
}

.button-modal:hover .cross:before {
  background: black;
}

#buttons{
	position: relative;
	left: 36%;
	width: 22%;
	height: 50%;
}


/* Example media queries */

@media screen and (max-width: 52.375em) {
	.tabs nav a span {
		font-size: .8em;
	}

	.aboutspack {
	width:80%;
	font-family: CoreMellow25ExtraLight;
	font-weight: normal;
	font-style: normal;
	font-size:15px;
	text-align:center;
	position:relative;
	left:10%;
	color:black;
	top:-60px;
}

	.tabs nav a:before {
		margin-right: 0;
	}

	.mediabox {
		float: none;
		width: auto;
		padding: 0 0 35px 0;
		font-size: 90%;
	}

	.mediabox img {
		float: left;
		margin: 0 25px 10px 0;
		max-width: 40%;
	}

	.mediabox h3 {
		margin-top: 0;
	}

	.mediabox p {
		margin-left: 40%;
		margin-left: calc(40% + 25px);
	}

	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}
}

@media screen and (max-width: 32em) {
		#spacklogo {
		display:none;
	}

	.homeinfo {
		font-size:10px;
	}

	#spackvid {
		width:230px;
		height:130px;
		position:relative;
		left:1%;
	}

	#mjinfo {
		font-size:10px;
	}

	.employees{
	font-family: ImpalaScript;
	font-size:1em;
	color:#ef0088;
	background-color:#F7F7F7;
	/*margin-top: 10px;*/
	padding-top: 20px;
	text-align:center;
	width:100%;
	padding-bottom:100px;
}

.employees span {
	font-size:15px;
	position:relative;
	left:-90px;
	top:-40px;
	letter-spacing: 1px;
	/*display:none;*/
}

.employees h1 {
	letter-spacing: 2px;
}

.colleges {
	font-size:10px;
}


figure {
	display:inline;
}


.employees img {
	width:200px;
	padding:10px;
	border-radius:100%;
	text-align: center;
	position:relative;
	left:5%;
/*	-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
	filter: grayscale(100%);*/
	border: 3px solid white;
}
	.tabs nav ul,
	.tabs nav ul li a {
		width: 100%;
		padding: 0;
	}

	.tabs nav ul li {
		width: 20%;
		width: calc(20% + 1px);
		margin: 0 0 0 -1px;
	}

	.tabs nav ul li:last-child {
		border-right: none;
	}

	.mediabox {
		text-align: center;
	}

	.mediabox img {
		float: none;
		margin: 0 auto;
		max-width: 100%;
	}

	.mediabox h3 {
		margin: 1.25em 0 1em;
	}

	.mediabox p {
		margin: 0;
	}
}